body, html {
	background-color: rgb(129, 86, 96);
	color: white;
}

.bg {
	background-image: url(../assets/Daft_Punk.jpeg);
	height: 50vh;
	width: 100vw;
	background-position: center;	
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}