html {
	background-color: var(--background-color-dark);
	color: var(--first-color);
	font-size: 4.5vw;
}

body {
	font-family: "League Gothic";
}

.bg {
	background-image: url(../assets/Daft_Punk.jpeg);
	height: 50vh;
	width: 100vw;
	background-position: center;	
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	border-bottom: 2px solid black;
}