html {
	background-color: var(--second-color);
	color: var(--first-color);
	font-size: 5vw;
}

.bg {
	background-image: url(../assets/city_skyline.jpeg);
	height: 50vh;
	width: 100vw;
	background-position: center;	
	background-repeat: no-repeat;
	background-size: cover;
	position: sticky;
	z-index: -1;
	top: 0;
	left: 0;
}

@media only screen and (max-width: 768px) {
	html {
	  font-size: 4.5vw;
	}
}

@media only screen and (min-width: 1200px) {
	html {
	  font-size: 4vw;
	}
}

@media only screen and (min-width: 1800px) {
	html {
	  font-size: 3vw;
	}
}