:root {
	--first-color: #ffffff;
	--second-color: #000000;
	--third-color: #C2C0D8;
	--fourth-color: rgba(46, 46, 46, 0.5);
	--background-color-dark: #333333;

	--font-body-text: 1rem 'League Gothic';
	--font-header-text: 1rem 'Chewy';
}