:root {
	/* Colors */
	--first-color: #ffffff;
	--second-color: #E3F3F3;
	--third-color: #5F6CA0;
	--fourth-color: #1C1C1C;

	/* Fonts */
	--font-CondensedMedium: 1rem 'Futura-CondensedMedium';
	--font-Bold: 1rem 'Futura';

	--small-font-CondensedMedium: .5rem 'Futura-CondensedMedium';
	--small-font-Bold: .5rem 'Futura';
}