.form {
	padding: 1rem;
}

.form__label {
	display: block;
}

.form__input {
	padding: .6rem;
	border-radius: .3rem;
	margin: .2rem 0 .5rem 0;
	display: block;
}

.form__submit {
	display: block;
	padding: 0.6rem;
	margin: 1rem 0 0 0;
}

#checkbox {
	display: inline-block;
	margin: 1rem .5rem 0 0;
}

#result, 
#error {
	padding: .5rem;
}

.form__radio {
	margin: 1rem .5rem 1rem 0; 
}