.header {
	width: 100%;
	height: fit-content;
	display: grid;
	grid-column: 1 / 13;
	background-color: var(--fourth-color); 
	border-bottom: solid black 2px;
}

.header__title {
	font-size: 1rem;
	text-align: center;
	font: var(--font-header-text);
}

.header__button {
	position: fixed;
	right: 0;
	width: 50vw;
	text-align: right;
	background: none;
	color: inherit;
	border: none;
	padding: .3rem;
	font: inherit;
	font-size: .7rem;
	cursor: pointer;
	outline: inherit;
}