.header {
	width: 100%;
	height: fit-content;
	display: grid;
	background-color: var(--fourth-color); 
	position: fixed;
}

.header__title {
	font-size: 1rem;
	text-align: left;
	margin-left: .5rem;
	font: var(--font-header-text);
	-webkit-text-stroke: 1px var(--second-color);
}

.header__button {
	position: fixed;
	right: 0;
	width: fit-content;
	text-align: right;
	background: var(--background-color-dark);
	color: white;
	padding: .23rem;
	border: none;
	font: inherit;
	font-size: .7rem;
	cursor: pointer;
	outline: inherit;
}

.header__button:hover {
	background: var(--third-color);
	text-shadow: 2px 2px 4px black;
}

.tagline {
	position: fixed;
	text-align: center;
	margin-left: 5.7rem;
	font-size: .7rem;
	padding: .3rem;
}