.search__container {
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	position: fixed;
	padding: .2rem;
	border-radius: .1rem;
	border: solid .03rem rgba(0, 0, 0, .6);
	background: var(--third-color);
	font-size: .4rem;
	width: fit-content;
}

#searchWrapper,
#searchButton {
	display: inline-block;
	border-radius: .1rem;
}

#searchBar {
	width: 40vw;
}

#submitBtn {
	cursor: pointer;
}

input {
	padding: .2rem;
	font: var(--font-body-text); 
	font-size: .4rem;
}