.search__container {
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	position: absolute;
	padding: .2rem;
	border-radius: .1rem;
	border: solid .03rem var(--fourth-color);
	background: var(--second-color);
	font-size: .4rem;
	width: fit-content;
	z-index: 1;
}

#searchWrapper,
#searchButton {
	display: inline-block;
	border-radius: .1rem;
}

#searchBar {
	width: 40vw;
}

#submitBtn {
	cursor: pointer;
}

input {
	padding: .2rem;
	font: var(--font-CondensedMedium); 
	font-size: .4rem;
	border-radius: .1rem;
	border: 1px solid var(--fourth-color);
	outline: none;
}

input[type=text]:focus {
	border: 3px solid var(--third-color);
}

input[type=submit]:focus {
	border: 3px solid var(--third-color);
}

@media only screen and (max-width: 768px) {
	input {
	  	font-size: .8rem;
	}

	.search__container {
		padding: .4rem;
	}

	#searchBar {
		width: 35vw;
	}
}